python=3.10.4
numpy=1.21.5
scipy=1.7.3
jax=0.3.6
jaxlib=0.3.5
ott-jax=0.2.5

# For data preprocessing
scikit-learn=1.0.1

# Optional dependencies for generating example data
# Note: some datasets generated using Julia
sdeint=0.3.0
joblib=1.1.1
